
.container-fluid {
	margin: 0;
	padding: 0;
}

.navbar {
	border-radius: 0px;
	background-color: #4b0700; 
}

.navbar-brand {
  	font-size: 35px;
  	color: #ffffff;
  	padding-left: 25px;
}

.navbar-brand:hover {
	color: #ffffff;
}

.nav {
	margin: 0;
	padding: 0;
}

.navbar-nav {
  	font-size: 25px;
  	text-align: center;
  	margin: 0;
  	padding: 0;
}

.navbar-toggle {
	border: 2px solid #ffffff;
	margin-right: 25px;
}

.icon-bar {
	background-color: #ffffff;
}

.row {
	margin: 20px;
}

.main-title {
  	margin-bottom: 15px;
  	text-align: center;
  	color: #b52d00;
  	font-size: 54px;
  	font-family: Helvetica, Arial, sans-serif;
  	font-weight: bold;
}

li {
	box-sizing: border-box;
	width: 100%;
}

.menu-item {
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 1px solid black;
	color: #b52d00;
	display: block;
}

.menu-item:hover {
	background-color: #e49c84;
	color: #d31c00;
}

.content-box {
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: #a5584c;
	font-family: Helvetica, Arial, sans-serif;
	padding: 20px;
}

.item-name {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #b52d00;
}

#top {

}
